

.paper-bg {
  /*from CSS3 Patterns */
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

* {
  margin: 0;
  padding: 0;
  position:relative;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Annie Use Your Telescope', cursive;
  /*font-family: 'Reenie Beanie', cursive;*/

  background-color:#269;
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px

/* tartan / plaid */
  /*background-color: hsl(2, 57%, 40%);
  background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);*/

/* pluses */
  /*background:
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: slategray;
background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;*/

/* brady bunch wallpaper */
  /*background-image:
  radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%),
  radial-gradient(closest-side, transparent 0%, transparent 75%, #B6CC66 76%, #B6CC66 85%, #EDFFDB 86%, #EDFFDB 94%, #FFFFFF 95%, #FFFFFF 103%, #D9E6A7 104%, #D9E6A7 112%, #798B3C 113%, #798B3C 121%, #FFFFFF 122%, #FFFFFF 130%, #E0EAD7 131%, #E0EAD7 140%);
  background-size: 110px 110px;
  background-color: #C8D3A7;
  background-position: 0 0, 55px 55px;*/

  /*background:
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%, slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
  background-color: slategray;
  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;*/
}

#mainContent {
    width: 100%;
    height: 120px;
    background-color: #37f;
    color: #ddeeff;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    opacity: .98;
}
#mainContent h1 {
  font-family: 'Molle', cursive;
  /*font-family: 'Courgette', cursive;*/
  /*font-family: 'Lobster', cursive;*/
  /*font-family: 'Monoton', cursive;*/
  font-size: 4em;
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.5),
  2px 2px 7px rgba(225, 225, 225, 0.3);
}

.container {
    /*width: 100%;*/
    padding: 20px;

}

.card-board {
  width: 90%;
  margin: 0 auto;
  min-height: 300px;
  padding: 20px;
  border: 5px solid #555;
  border-radius: 10px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  background-color: #d1ad66;
  background-image: url(http://www.transparenttextures.com/patterns/egg-shell.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

  box-shadow: 0px 8px 8px 4px rgba(45,45,45,.4);
}

.welcome-card {
  z-index: 100;
	min-width: 180px;
	padding: 20px;
	margin: 20px 30px;
	border-radius: 5%;
	border: 3px dashed #fff;
	text-align: center;
  /*font-family: 'Annie Use Your Telescope', cursive;*/

  box-shadow: 1px 1px 6px 1px rgba(0,0,0,.3);

  -webkit-clip-path: polygon(0% 2%, 4% 0%, 6% 1%, 11% 0%, 13% 1%, 19% 0%, 23% 1%, 27% 0%, 30% 3%, 34% 0%, 38% 0%, 44% 0%, 49% 1%, 56% 0%, 58% 2%, 63% 1%, 66% 1%, 70% 0%, 74% 1%, 79% 0%, 84% 2%, 88% 0%, 91% 1%, 96% 0%, 97% 2%, 100% 0%, 99% 99%, 0% 99%);
  clip-path: polygon(0% 2%, 4% 0%, 6% 1%, 11% 0%, 13% 1%, 19% 0%, 23% 1%, 27% 0%, 30% 3%, 34% 0%, 38% 0%, 44% 0%, 49% 1%, 56% 0%, 58% 2%, 63% 1%, 66% 1%, 70% 0%, 74% 1%, 79% 0%, 84% 2%, 88% 0%, 91% 1%, 96% 0%, 97% 2%, 100% 0%, 99% 99%, 0% 99%);
}

.welcome-phrase {
  font-size: 32px;
  font-weight: 600;
	letter-spacing: 3px;
	color: #3995D9;
}

.welcome-origin {
	color: #555;
}

.card-pin {
  position: absolute;
  z-index: 200;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: inherit;

  background-image:
    linear-gradient(
      to top right,
      firebrick, red
      /*firebrick, #f06d06*/
    );

  /*box-shadow: inset 0 0 10px #f06d06;*/
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.4),
  inset 0 0 10px #f06d06;;
}

.card-pin__remove {
  display: none;
  color: #ddd;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-pin:hover .card-pin__remove {
  display: inherit;
}

.notepad {
  /*height: 100px;*/
  width: 50%;
  padding: 5px 20px;
  margin: 20px auto;
  border-radius: 5%;
  z-index: 200;

  box-shadow: 0px 1px 2px 2px rgba(45,45,45,.4),
  0px 3px 0px 0px #fff,
  0px 4px 2px 2px rgba(45,45,45,.4),
  0px 6px 0px 0px #fff,
  0px 7px 2px 2px rgba(45,45,45,.4);

}

.notepad:before {
  position: absolute;
  /*content: '';*/
  border: 1px solid #000;
  top: 5px;
  left: 0;
  height: 102%;
  width: 100%;
  border-radius: 5%;
  background-color: #fff;
  z-index: 100;

}

.notepad__rules {
    font-size: 24px;
    left: 20%;
    /*text-align: center;*/

}

input[type="text"] {
  /*display: block;*/
  margin: 0 10px;
  /*width: 100%;*/
  /*font-family: sans-serif;*/
  font-family: 'Annie Use Your Telescope', cursive;
  background-color: transparent;
  font-size: 24px;
  appearance: none;
  box-shadow: none;
  border: none;
}
input[type="text"]:focus {
  outline: none;
}

.notepad__section {
  margin-left: 60px;
}

.notepad__section label {
  margin-left: 10px;
  padding: 0 5px;
  /*width: 60px;*/
  /*text-align: right;*/
  font-size: 32px;
}

.notepad__section input {

}

.notepad button {
  position: absolute;
  top: 10%;
  right: -10%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #37f;
  color: #fff;
}

.paper {
  margin-top:50px;
  line-height:1.5em;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
  background-image: -ms-linear-gradient(rgba(0,0,0,0.1) 1px, transparent 1px);
  background-size:100% 1.5em;
  background-position:0 1.2em;
  background-origin:content-box;
  background-color:rgba(yellow,.5);
  font-size:140%;
  padding:1.3em;
  box-shadow:0px 0px 10px rgba(black,.3);
}



.pencil-text {
  position: absolute;
  transform: rotateZ(-90deg);
  top: 100px;
  right: 1px;
  width: 60px;
}

/* based on Bryce Snyder's codepen demo */
.pencil {
  position: absolute;
  width:40px;
  margin:-200px auto;
  right: 50%;
  top: -65px;
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
}

.pencil:before {
  content: "";
  position: absolute;
  height:512px;
  width:8px;
  background: rgba(0,0,0,.4);
  border-radius: 50%;
  margin-left:35px;
  margin-top:-2px;
}

.pencil .eraser {
  height:35px;
  width:40px;
  background: #EC87C0;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pencil .eraser:before {
  content: "";
  position: absolute;
  width:20px;
  height:35px;
  margin-left:20px;
  background: #D770AD;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}

.pencil .ferrule {
  height:45px;
  width:40px;
  background: #CCD1D9;
}

.pencil .ferrule:before {
  content: "";
  position:absolute;
  height:45px;
  width:20px;
  margin-left:20px;
  background: #AAB2BD;
}

.pencil .shaft {
  height:350px;
  width:40px;
/*  background: #FFCE54;
*/
  background:#FFD700;
}

.pencil .shaft:before {
  content: "";
  position: absolute;
  height: 350px;
  width: 20px;
  margin-left: 20px;
  /* background: #FCBB42; */
  background:#DAA520;

}

.pencil .lead {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 80px solid #EBD4A9;
}

.pencil .lead:before {
  content: "";
  position: absolute;
  margin-top: -80px;
  border-right: 20px solid transparent;
  border-top: 80px solid #D1BD97;
}

.pencil .lead:after {
  content: "";
  position: absolute;
  margin-top:-21px;
  margin-left:-5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 20px solid #1A1A1A;
}


.footer-shelf {
  position: relative;
  margin: 40px auto 40px;
  width: 95%;
  /*z-index: 1;*/
  border-bottom: 25px solid #A1A194;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;

  box-shadow: 0px 28px 9px 1px rgba(45,45,45,0.5);
}

.footer-shelf:before {
  content: '';
  position: absolute;
  top: 35px;
  left: -25px;
  width: calc(100% + 2 * 22px);
  height: 0px;
  background: transparent;
  border-top: 5px solid #717174;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.footer-shelf:after {
  content: '';
  position: absolute;
  top: 25px;
  left: -25px;
  width: calc(100% + 2 * 25px);
  height: 10px;
  background: #5B605F;

  box-shadow: 0px 1px 6px 2px rgba(35,35,35,0.5);
}
